.Todos {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.todo-lists-link:hover {
  text-decoration: none;
  color: #9b9b9b;
}

.todo-details {
  display: flex;
  flex-direction: column;
}

.back-link {
  padding: 1rem;
}

.todos-header {
  display: flex;
  flex: auto;
  align-items: center;
}
